.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
}

.App-numberValueNeg {
display:inline-block;
height: 60px;
align-items: center;
justify-content: center;
background-color: #cf8585;
}

.App-numberValuePos {
  display:inline-block;
  height: 60px;
  align-items: center;
  justify-content: center;
  background-color: #85cfa1;
  }

.App-numberHeader {
  background-color: #282c34;
  height: 45px;
  padding: 10px 0px 0px 0px;
  vertical-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  }

.App-singleNumber {
  margin: 10px;
  padding: 10px;
  font-size: 40px;
  display:inline-block;
}

.App-link {
  color: #09d3ac;
}
.Chart
{
  margin: 10px;
  align-content: center;
  font-size: calc(0.8em);
  fill:rgb(100, 100, 100);
  display:inline-block;
}

.button {
  background-color: #713dac; /* Green */
  border: none;
  width: auto;
  color: white;
  padding: 12px 20px;
  margin: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #c18feb; /* Green */
  color: rgb(48, 48, 51);
}

.datePicker
{
  font-size: 16px;
  width: 100px;
  margin: 12px 0px 12px 0px;
}
.datePickerContainer
{
  width: 400px;
  display: inline-block;
}
